.collapsible-header{
  font-weight: bold;
}

.table-header {
  font-size: 18px;
  font-weight: bold;
}

.collapsible-body{
  background-color: inherit;
}
.lifecycle-img {
  height: 500px;
  width: auto;
}
img{
    display: block;
    margin: auto
}
